* {
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: 'Neo-Sans';
  src: url(../fonts/NeoSansStdRegular.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: 'Neo-Sans';
  src: url(../fonts/NeoSansStdBold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 'Neo-Sans';
  src: url(../fonts/NeoSansStdLight.otf) format("opentype");
  font-weight: lighter;
}

/* End Font */

body {
  height: 100%;
  background: rgb(26,26,46);
  background: linear-gradient(180deg, rgba(26,26,46,1) 0%, rgba(16,16,28,1) 100%);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/* Nav */

nav img {
  margin-top: 1rem;
  margin-left: 3rem;
  width: 250px;
  transition: 100ms ease-in-out;
  user-select: none;
}

nav img:hover {
  transform: translateY(-3px) translateX(3px);
}

/* Body */

.body-wrapper {
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-wrapper {
  display: flex;
  margin-right: auto;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: auto;
}

.menu-button {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1rem;
}

.menu-title {
  transition: 100ms ease-in-out;
  font-family: 'Neo-sans';
  font-style: italic;
  font-weight: 700;
  text-shadow: 0.125rem 0.125rem 0.93rem rgba(0, 0, 0, .6);
  color: #fff;
  font-size: 3.5rem;
}

.menu-title:hover {
  color: #9f86c0;
  font-size: 4rem;
}

#logout:hover {
  color: #e63946;
}

#login:hover{
  color: #6cb928;
}

.globe-img {
  transition: 100ms ease-in-out;
  display: inline-block;
  margin-top: -2.5rem;
  margin-left: -1rem;
  height: 80vh;
  width: 800px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  user-select: none;
  -webkit-user-drag: none;
  transition: 500ms ease-in;
}

.image-globe {
  height: 90%;
  width: 90%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    transform: scaleY(1.01);
  }
  100% {
    transform: scale(1);
  }
}

/* For screens up to 1520px */
@media screen and (max-width: 1520px) {
  .body-wrapper {
    flex-wrap: wrap;
  }
  .globe-img {
    height: 525px;
    width: 525px;
    margin: none;
  }
}

/* For screens up to 850px */
@media screen and (max-width: 850px) {
  .menu-title {
    font-size: 3rem;
  }
  .body-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .globe-img {
    margin: auto;
    height: 350px;
    width: 350px;
  }
  .menu-title:hover {
    color: #9f86c0;
    font-size: 3rem;
  }
}

/* For screens up to 600px */
@media screen and (max-width: 600px) {
  .menu-title {
    font-size: 2.5rem;
  }
  .menu-wrapper, nav img {
    margin-left: 1rem;
  }
  .menu-title:hover {
    color: #9f86c0;
    font-size: 2.7rem;
  }
}

/* For screens up to 400px */
@media screen and (max-width: 400px) {
  .menu-title {
    font-size: 2rem;
  }
  .menu-wrapper, nav img {
    margin-left: 0.5rem;
  }
  .menu-title:hover {
    color: #9f86c0;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 200px) {
  .globe-img {
    height: 150px;
    width: 150px;
  }
}