* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: 'Neo-Sans';
    src: url(../fonts/NeoSansStdRegular.otf) format("opentype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Neo-Sans';
    src: url(../fonts/NeoSansStdBold.otf) format("opentype");
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Neo-Sans';
    src: url(../fonts/NeoSansStdLight.otf) format("opentype");
    font-weight: lighter;
  }
  
  /* End Font */

body {
    font-family: 'Neo-Sans', sans-serif;
    background: radial-gradient(66.5% 221.21% at 136.03% -61.44%,rgba(58,232,189,.5) 0%,rgba(58,232,189,0) 92.09%),radial-gradient(93.54% 126.91% at 29.15% -56.29%,rgba(58,232,189,.8) 0%,rgba(58,232,189,0) 92.09%),radial-gradient(86.19% 101.84% at -17.13% -24.8%,#7950e5 0%,rgba(121,80,229,0) 92.09%), #1a1a2e;
}

h2 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: 75%;
    width: 100%;
}

form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 300px;
}

form input:not(:last-child) {
    font: inherit;
    background: transparent;
    border: 1px solid grey;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1;
    width: 100%;
    padding: 0.5rem 1rem;

    font-weight: 700;
    font-style: italic;
}

::placeholder{
    color: #fff;
}

.pageLabelWrapper, .pageLabel{
    display: flex;
    justify-content: center;
}
form label {
    display: none;

}
.pageLabel {
    align-items: center;
    font-style: italic;
    text-transform: uppercase;
    user-select: none;
    background-color: rgba(16,16,28,.4);
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    color: #fff;
    border-radius: 3px;
    transform: skew(-12deg);
    overflow: hidden;

    margin-top: 1rem;
    padding: 0.6rem 1rem;
}

.pageLabel p {
    transform: skew(12deg);
}

.inputWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
#submitBtn{
    background: transparent;
    border-radius: 3.75rem;
    color: #fff;
    font-family: inherit;
    font-size: .95rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    border: 0.0625rem solid hsla(0,0%,100%,.8);
    padding: .5rem 1.5rem;
    cursor: pointer;
    width: 50%;
}

a {
    color: hsla(0,0%,100%,.4);
    font: inherit;
    text-align: center;
}

li {
    list-style-type: none;
    color:rgb(209, 64, 64);
}
