<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% include "meta.html" %}
    <link rel="icon" type="image/png" href="{%static 'images/titleLogo.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}?v=3.1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class = "home-label">
      <a href="/">
        <img title = "return home"src="{%static 'images/home-icon.svg' %}" alt = "home icon">
      </a>
    </div>
    <div class="pageLabel">
      <span id = "333" style = "display: none">{{lat}}</span>
      <span id = "4444" style = "display: none">{{lng}}</span>
      <span id = "5555" style = "display: none">{{round}}</span>
      <div id="borderTop" class="border"></div>
      <div id="borderRight" class="border"></div>
      <div id="borderBottom" class="border"></div>
      <div id="borderLeft" class="border"></div>
      <p>TIME <span id = "time">01:00</span></p>
      <p id = "round">&nbsp;| ROUND {{round}}/5</p>
    </div>
    <div class = "resetBtn">
      <p title = "return to orignal position" onclick="resetLocation()">BACKTRACK</p>
    </div>    
    <div id="pano"></div>
    <div id="mapWrapper">
      <div id="map"></div>
        <form id="guess-form" method="post">
          <div style="display: none;">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
        <button id="submitButton" type="submit" name="coords_guess" disabled>Submit</button>
      </form>
    </div>
    <script src="{% url 'street' %}" defer></script>
    <script src="{% static 'js/map.js' %}?v=1.0"></script>
  </body>
</html>
