<meta charset="utf-8">
<title>ChicoGuessr</title>
<meta name="description" content="ChicoGuessr is a geography game which takes you on a journey around Chico and challenges your ability to recognize your surroundings.">
<meta property="og:title" content="ChicoGuessr">
<meta property="og:description" content="ChicoGuessr is a geography game which takes you on a journey around Chico and challenges your ability to recognize your surroundings.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.chicoguessr.xyz">
<meta property="og:image" content="../static/titleLogo.png">