{% load static %}
<meta charset="utf-8">
<!-- Primary Meta Tags -->
<meta http-equiv="content-language" content="en-us">
<title>ChicoGuessr - Lets Explore The World!</title>
<meta name="title" content="ChicoGuessr - Lets Explore The World!" />
<meta name="description" content="ChicoGuessr is a geography game which takes you on a journey around Chico and challenges your ability to recognize your surroundings." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.chicoguessr.xyz">
<meta property="og:title" content="ChicoGuessr - Lets Explore The World!" />
<meta property="og:description" content="ChicoGuessr is a geography game which takes you on a journey around Chico and challenges your ability to recognize your surroundings." />
<meta property="og:image" content="{%static 'images/titleLogo.png' %}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://www.chicoguessr.xyz" />
<meta property="twitter:title" content="ChicoGuessr - Lets Explore The World!" />
<meta property="twitter:description" content="ChicoGuessr is a geography game which takes you on a journey around Chico and challenges your ability to recognize your surroundings." />
<meta property="twitter:image" content="{%static 'images/titleLogo.png' %}" />