<html>
  <head>
    {% load static %}
    {% include "meta.html" %}
    <link rel="icon" type="image/png" href="{% static 'images/titleLogo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/stats.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
  <nav>
    <a href = "/">
      <img src = "{%static 'images/titleLogo.png' %}" alt = "Chico Guessr Logo" />
      <h1>CHICOGUESSR</h1>
    </a>
  </nav>
  <button class = "home" onclick="window.location.href='/';">
      <img src="{%static 'images/home-icon.svg' %}" alt = "home icon">
      RETURN HOME
    </button>
    <div class="container">
      <div class="user-info">
        <div>
          <h1 class = "title">hi {{ request.user.username }}!</h1>
        </div>
          <h2 id = "userE" class = "userEmail">here are your statistics:</h2>
        <div class = "userWrapper">
          <div class = "userScore">
            <h2>Highest Score:</h2>
            <p id = "userH">{{ high_score }}</p>
          </div>
          <div class = "userPlayed">
            <h2>Latest Score:</h2>
            <p id ="userL">{{ last_score }}</p>
          </div>
          <div class = "userAverage">
            <h2>Average Score:</h2>
            <p id = "userA">{{ average_score}}</p>
          </div>
          <div class = "userLowest">
            <h2>Lowest Score:</h2>
            <p id = "userL2">{{ lowest_score }}</p>
          </div>
          <div class = "userCreation">
            <h2>Account Created On:</h2>
            <p id = "userC">{{ created_at }}</p>
          </div>
          <div class = "userGames">
            <h2>Games Played:</h2>
            <p id = "userG">{{ games_played }}</p>
          </div>
          <div class = "userPosition">
            <h2>Leaderboard #:</h2>
            <p id = "userP">{{ user_position }}</p>
          </div>
        </div>
        <button onclick ="window.location.reload()"  id = "resetBtn"> 
          RESET
        </button>
      </div>
      <div class="leaderboard">
        <div class = "titleWrapper">
          <h1 class = "title">global leaderboard</h1> 
        </div>
        <table>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
          </tr>
          {% for score in leaderboard %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td style = "cursor:pointer;" class="user-username" data-username="{{ score.user.username }}" data-userid="{{ score.user.id }}">{{ score.user.username }}</td>
              <td>{{ score.score }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
  <style>
  </style>
  <script src="{% static 'js/stats.js' %}"></script>
</html>
